.icon {
    background-image: url(/static/images/fruit2.png);
    width: 50px;
    height: 50px;
    background-size: cover; /* Preenche a largura e altura da div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}