<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="home.css" />
        <title>Home</title>
        <link
            rel="shortcut icon"
            type="imagex/png"
            href="/media/fruit_icon.png" />

        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        {% load static %}
    </head>
    <body class="flex flex-col bg-[#F2E8CF]"  id="main-content">
        <header
            class="flex flex-row items-end justify-start px-[100px] py-5 gap-10 mb-10">
            <div class="flex flex-row items-end gap-2">
                <div class="icon w-32 h-32"></div>
                <div class="flex flex-row text-6xl font-bold gap-2">
                    <p class="text-[#BC4749]">Zé</p>
                    <p class="text-[#fbb02d]">das</p>
                    <p class="text-[#386641]">Frutas</p>
                </div>
            </div>
            <form
                action="/ecommerce/home/"        
                method="GET"
                class="flex h-[46px] w-full rounded-full border border-white bg-white items-center px-4 focus-within:border-[#A7C957] focus-within:text-[#A7C957] relative overflow-hidden hover:shadow-md">
                {% csrf_token %}
                <input
                    autocomplete="off"
                    id="search-input"
                    name="search"
                    value="{{ request.GET.query|default:'' }}"
                    placeholder="Pesquisar"
                    type="text"
                    class="h-[38px] w-full border-transparent rounded-full bg-white focus:outline-none text-lg text-black absolute" />
                <button type="submit" class="relative z-10 ml-auto " id="search-btn">
                    <i class="bi bi-search "></i>
                </button>
            </form>

            <script>
                window.addEventListener('load', function() {
                    if (performance.navigation.type === 1) { // Check if page is reloaded
                        window.location.href = window.location.pathname; // Redirect to base URL
                    }
                });
            </script>
        
            <div class="ml-auto flex flex-row gap-8">
                <button class="flex rounded focus:outline-none">
                    <i
                        class="bi bi-cart4 text-4xl text-black hover:text-[#A7C957]"></i>
                </button>
                <!-- Menu Button -->
                <button id="menu-btn" class="flex rounded focus:outline-none">
                    <i
                        class="bi bi-list text-black text-5xl hover:text-[#A7C957]"></i>
                </button>

                <div class="flex">
                    <!-- Sidebar -->
                    <div
                        id="sidebar"
                        class="fixed inset-y-0 right-0 transform translate-x-full transition-transform duration-300 w-64 h-screen bg-[#A7C957] text-white flex flex-col z-40">
                        <div class="flex flex-row items-center justify-between">
                            <div class="p-4 text-2xl font-semibold">Menu</div>
                            <!-- Close Button -->
                            <button
                                id="close-btn"
                                class="flex z-50 rounded focus:outline-none pr-5 ">
                                <i class="bi bi-x-lg text-white text-xl hover:text-[#BC4749]"></i>
                            </button>
                        </div>
                        <nav class="flex flex-col flex-1 p-2 font-semibold">
                            <a
                                href="#"
                                class="p-2 rounded hover:bg-[#386641] open-modal"
                                data-target="home-content"
                                >Home</a
                            >
                            <a
                                href="#"
                                class="p-2 rounded hover:bg-[#386641] open-modal"
                                data-target="perfil-content"
                                >Perfil</a
                            >
                            {% if is_admin %}
                                <a
                                    href="#"
                                    data-target="added-user-content"
                                    class="p-2 rounded hover:bg-[#386641] open-modal"
                                    >Adicionar vendedor</a
                                >
                                <a
                                    href="#"
                                    data-target="added-fruits-content"
                                    class="p-2 rounded hover:bg-[#386641] open-modal"
                                    >Adicionar Frutas</a
                                >
                            {% elif is_vendedor %}
                            <a
                                href="#"
                                data-target="added-sale-content"
                                class="p-2 rounded hover:bg-[#386641] open-modal"
                                >Adicionar vendas</a
                            >
                            {% endif %}
                        </nav>
                        <form
                            method="POST"
                            action="/ecommerce/home/"
                            class="flex justify-center">
                            {% csrf_token %}
                            <button
                                name="logout"
                                type="submit"
                                class="flex items-center justify-center mt-auto gap-2 pb-10 hover:text-[#386641]">
                                <p class="text-xl font-semibold">Sair</p>
                                <i class="bi bi-box-arrow-right text-xl"></i>
                            </button>
                        </form>
                    </div>
                    <div id="modal-container"></div>
                </div>
            </div>
        </header>

        <div
            class="flex flex-col items-center justify-center h-full bg-slate-100 px-[100px] bg-fixed bg-repeat bg-[length:500px_400px] pb-10 main-content"
            style="background-image: url('/media/cover-trans.png')">
            <section class="flex flex-col items-center justify-center">
                <div class="flex flex-row items-center">
                    <div
                        class="flex text-4xl font-bold text-white bg-[#386641] mb-4 mt-4 py-2 px-4 rounded-xl items-center justify-center">
                        <p class="text-center">
                            Frutas Disponíveis
                        </p>
                    </div>
                    <div class="flex absolute ml-[560px] gap-3">
                            <button id="btn-filter" type="submit" class="flex flex-row gap-2 bg text-xl font-bold text-white bg-[#386641] rounded-lg p-2">
                                Filtrar
                                <i class="bi bi-funnel"></i>
                            </button>
                            <button onclick="reloadAndResett()"
                            class="bg-[#386641] rounded-lg text-white px-2">
                            <i class="bi bi-eraser text-2xl"></i>
                            </button>
                            <script>
                                function reloadAndResett() {
                                    window.location.href = window.location.origin + window.location.pathname;
                                }
                            </script>
                    </div>
                    <!-- Modal -->
                    <div id="filterModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-5 gap-5 hidden">
                        <div class="bg-white rounded-lg shadow-lg flex flex-col p-5 items-center justify-center">
                            <div>
                                <h2 class="text-xl font-semibold">Filtro</h2>
                            </div>
                            <form action="/ecommerce/home/" method="GET" class="mt-4 flex flex-col mb-4 items-center justify-center">
                                <div>
                                    <label class="block mb-2">Classificação</label>
                                    <select
                                        value="{{ request.GET.query|default:'' }}"
                                        name="filter-class"
                                        class="p-2 border rounded-lg focus-within:border-[#A7C957] focus:outline-none">
                                        <option selected value>
                                            --Selecione--
                                        </option>
                                        <option value="Extra">Extra</option>
                                        <option value="Primeira">Primeira</option>
                                        <option value="Segunda">Segunda</option>
                                        <option value="Terceira">Terceira</option>
                                    </select>
                                </div>
                                <div class="flex items-end flex-col">
                                    <label class="block">Fresca</label>
                                    <input type="checkbox" name="filter-fresh" value="true" />
                                </div>
                                <div class="mt-4 justify-center">
                                    <button type="submit" class="bg-[#A7C957] hover:bg-[#386641] text-white font-bold p-2 rounded">Confirmar</button>
                                </div>
                            </form>
                            <button id="closeModalBtn"
                                class="bg-[#BC4749] hover:bg-[#852d2f] w-[94px] text-white font-bold p-2 rounded">
                                Fechar
                            </button>
                        </div>
                    </div>
                    
                    <script>
                        // JavaScript para exibir/ocultar o modal
                        document.getElementById('btn-filter').addEventListener('click', function () {
                            document.getElementById('filterModal').classList.remove('hidden');
                        });

                        document.getElementById('closeModalBtn').addEventListener('click', function () {
                            document.getElementById('filterModal').classList.add('hidden');
                        });
                    </script>
                </div>
                <div class="grid grid-cols-4 gap-10">
                    {% for fruit in fruits %}
                    <div
                        class="flex flex-col w-full rounded-xl p-5 bg-white items-center justify-center hover:shadow-2xl">
                        <div class="h-[200px] w-[200px] relative rounded-lg">
                            {% if fruit.fresh %}
                            <div
                                class="flex rounded-full bg-[#A7C957] w-24 h-8 absolute items-center justify-center font-bold">
                                <p>Fresca</p>
                            </div>
                            {% endif %}
                            <img
                                src="data:image/png;base64,{{ fruit.image }}"
                                alt="{{fruit.name}}"
                                class="rounded-2xl w-[200px] h-[200px]" />
                        </div>
                        <div class="flex flex-col text-xl gap-1 self-start">
                            <p class="font-bold">{{ fruit.fruit_name }}</p>
                            <p>Classificação: {{ fruit.rating }}</p>
                            <p>Quantidade: {{ fruit.quantity }}</p>
                            <p class="font-semibold">
                                R$ {{ fruit.itemssalevalue_sale }} 
                            </p>
                        </div>
                        <div class="flex items-center mt-5">
                            {% if is_vendedor %}
                            <button
                                class="bg-[#6A994E] hover:bg-[#386641] w-48 h-10 rounded-md text-center font-bold text-white">
                                Vender
                            </button>
                            {% elif is_admin %}
                            <form method="GET">
                                {% csrf_token %}
                                <input hidden type="text" value="{{fruit.id}} " name="get-fruit">
                                <button id="btn-get-user" type="submit" value="{{ request.GET.query|default:'' }}" class="bg-[#6A994E] hover:bg-[#386641] w-48 h-10 rounded-md text-center font-bold text-white">
                                    Editar
                                </button>
                            </form>
                                {% if edit_fruit %}
                                <!-- Modal -->
                                <div class="fixed inset-0 bg-black bg-opacity-10 flex items-center justify-center z-50 p-5 gap-5">
                                    <div class="bg-white flex flex-col p-6 rounded-lg shadow-lg w-[400px] items-center justify-center">
                                        <div class="flex flex-row items-center justify-center mb-10">
                                            <h2 class="text-2xl font-bold">Editar Fruta</h2>
                                        </div>
                                        <form method="POST" action="/ecommerce/home/" class="flex flex-col items-center gap-10">
                                            {% csrf_token %}
                                            <div class="items-start justify-start grid grid-cols-2 gap-4">
                                                <div class="flex flex-col">
                                                    <label for="">Nome</label>
                                                    {{ form.fruit_name }}
                                                </div>
                                                <div class="flex flex-col">
                                                    <label for="">Classificação</label>
                                                    {{ form.rating }}
                                                </div>
                                                <div class="flex flex-col">
                                                    <label for="">Quantidade</label>
                                                    {{form.quantity }}
                                                </div>
                                                <div class="flex flex-col">
                                                    <label for="">Valor Uni.</label>
                                                    {{form.itemssalevalue_sale}}
                                                </div>
                                                <div class="flex flex-col items-start justify-start">
                                                    <label for="">Fresca</label>
                                                    {{form.fresh}}
                                                </div>
                                                <div class="flex flex-col col-span-2">
                                                    {{form.image}}
                                                </div>
                                            </div>
                                
                                            <input hidden type="text" value="{{ form.id }} " name="post-user">
                                            <button type="submit" name="btn-confirm-edit-fruit"
                                                class="p-2 font-semibold rounded-lg text-white bg-[#A7C957] hover:bg-[#386641]">
                                                Confirmar
                                            </button>
                                        </form>
                                        <button onclick="reloadAndReset()" type="submit"
                                            class="p-2 font-semibold rounded-lg text-white bg-[#BC4749] hover:bg-[#702829] mt-5 w-[90px]">
                                            Fechar
                                        </button>
                                    </div>
                                </div>
                                <script>
                                    function reloadAndReset() {
                                        window.location.href = window.location.origin + window.location.pathname;
                                    }
                                </script>
                                {% endif %}

                            {% else %}
                            <button
                                class="bg-[#6A994E] hover:bg-[#386641] w-48 h-10 rounded-md text-center font-bold text-white">
                                Comprar
                            </button>
                            {% endif %}
                        </div>
                    </div>

                    {% empty %}
                        <p class="text-2xl font-bold text-[#6A994E] text-center">Nenhuma fruta encontrada.</p>
                    {% endfor %}
                </div>
            </section>

            {% if is_admin %}
            <div class="flex flex-col items-center justify-center mt-10 w-full">
                <div class="flex text-4xl font-bold text-white py-2 px-4 bg-[#386641] rounded-xl items-center justify-center mb-4">
                    <p class="text-center">Usuários</p>
                </div>
                <table class="min-w-full bg-white border border-[#6A994E]">
                    <thead class="bg-[#6A994E] text-white">
                        <tr>
                            <th class="w-1/4 text-left py-3 px-4">Nome</th>
                            <th class="w-1/4 text-left py-3 px-4">Username</th>
                            <th class="w-1/3 text-left py-3 px-4">Email</th>
                            <th class="w-1/4 text-left py-3 px-4">Profile</th>
                            <th class="w-1/3 text-left py-3 px-4">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in list_user %}
                        <tr class="text-lg font-semibold">
                            <td class="w-1/4 text-left py-3 px-4">
                                {{ user.first_name }} {{user.last_name}}
                            </td>
                            <td class="w-1/4 text-left py-3 px-4">
                                {{ user.username }}
                            </td>
                            <td class="w-1/3 text-left py-3 px-4">
                                {{ user.email }}
                            </td>
                            <td class="w-1/4 text-left py-3 px-4">
                                {{ user.role }}
                            </td>
                            <td class="w-1/3 text-left py-3 px-4">
                                <div class="flex items-center justify-center gap-8">
                                    <form method="GET">
                                        {% csrf_token %}
                                        <input hidden type="text" value="{{user.id}} " name="get-user">
                                        <button id="btn-get-user" type="submit" value="{{ request.GET.query|default:'' }}">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </form>
                                    <form action="{% url 'delete' user.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="btn-delete-user" onclick="return confirm('Tem certeza que deseja deletar este usuário?');">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                    </form>
                                    {% if edit %}
                                    <!-- Modal -->
                                    <div class="fixed inset-0 bg-black bg-opacity-20 flex items-center justify-center z-50 p-5 gap-5">
                                        <div class="bg-white flex flex-col p-6 rounded-lg shadow-lg w-[400px] items-center justify-center" >
                                            <div class="flex flex-row items-center justify-center mb-10">
                                                <h2 class="text-2xl font-bold">Editar Usuário</h2>
                                            </div>
                                            <form method="POST" action="/ecommerce/home/" class="flex flex-col items-center gap-10">
                                                {% csrf_token %}
                                                <div class="grid grid-cols-2 gap-4">
                                                    <div class="flex flex-col">
                                                        <label for="">Nome</label>
                                                        {{ form.first_name }}
                                                    </div>
                                                    <div class="flex flex-col">
                                                        <label for="">Sobrenome</label>
                                                        {{ form.last_name }}
                                                    </div>
                                                    <div class="flex flex-col col-span-2">
                                                        <label for="">Email</label>
                                                        {{form.email }}
                                                    </div>
                                                    <div class="flex flex-col col-span-2 hidden">
                                                        <label for="">Senha</label>
                                                        {{form.password}}
                                                    </div>
                                                    <div class="flex flex-col">
                                                        <label for="">Profile</label>
                                                        {{form.role}}  
                                                    </div>
                                                </div>
                                                
                                                <input hidden type="text" value="{{ form.id }} " name="post-user">
                                                <button type="submit" name="btn-confirm-edit"
                                                    class="p-2 font-semibold rounded-lg text-white bg-[#A7C957] hover:bg-[#386641]">
                                                    Confirmar
                                                </button>
                                            </form>
                                            <button     
                                                    onclick="reloadAndReset()"
                                                    type="submit"
                                                    class="p-2 font-semibold rounded-lg text-white bg-[#BC4749] hover:bg-[#702829] mt-5 w-24">
                                                    Fechar
                                            </button>
                                        </div>
                                    </div>
                                    <script>
                                        function reloadAndReset() {
                                            window.location.href = window.location.origin + window.location.pathname;
                                        }
                                        </script>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                     
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif is_vendedor %}

            <div class="flex flex-col items-center justify-center mt-10 w-full">
                <div
                    class="flex text-4xl font-bold text-white py-2 px-4 bg-[#386641] rounded-xl items-center justify-center mb-4">
                    <p class="text-center">Vendas</p>
                </div>

                <table class="min-w-full bg-white border border-[#6A994E]">
                    <thead class="bg-[#6A994E] text-white">
                        <tr>
                            <th class="w-1/5 text-left py-3 px-4">Horario da venda</th>
                            <th class="w-1/5 text-left py-3 px-4">Valor total da venda</th>
                            <th class="w-1/2 text-left py-3 px-4">Items da venda</th>
                            <th class="w-1/6 text-left py-3 px-4">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in items_list %}
                        <tr class="text-lg break-normal">
                            <td class="w-1/5 text-left py-3 px-4 border-r-[1px] border-r-[#6A994E] font-semibold">
                                {{ items.sale.date_time }}
                            </td>
                            <td class="w-1/5 text-left py-3 px-4 border-r-[1px] border-r-[#6A994E] font-semibold">
                                {{ items.sale.total_value }}
                            </td>
                            <td class="w-full text-left py-3 px-4 flex flex-row justify-between gap-5 border-r-[1px] border-r-[#6A994E]"> 
                                <div class="flex flex-col items-center justify-center gap-2">
                                    <p class="font-bold"> Fruta  </p> <p>{{ items.fruit.fruit_name }}</p>
                                </div>
                                <div class="flex flex-col items-center justify-center gap-2">
                                    <p class="font-bold"> Quant.  </p> <p> {{ items.quantity }} </p>
                                </div>
                                <div class="flex flex-col items-center justify-center gap-2">
                                    <p class="font-bold"> Valor Uni. </p> <p> {{ items.unitary_value }} </p> 
                                </div>
                                <div class="flex flex-col items-center justify-center gap-2">
                                    <p class="font-bold"> Desconto </p>  <p> {{ items.discount }} </p> 
                                </div>
                            </td>
                            <td class="w-1/6 text-left py-3 px-4 p-2">
                                <div class="flex items-center justify-center gap-8">
                                    <form action="{% url 'delete' items.sale.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="btn-delete-sale" onclick="return confirm('Tem certeza que deseja deletar esta venda?');">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}
        </div>
        <!-- Modal -->
        <div
            id="modal"
            class="fixed inset-0 bg-opacity-50 bg-black flex items-center justify-center hidden z-50 p-5 gap-5">
            <div id="modal-contents" class="flex justify-between">

                <!-- Modal Content-->
                <div
                    class="bg-white p-6 rounded-lg shadow-lg modal-content hidden"
                    id="perfil-content">
                    <div class="flex flex-row items-center justify-center mb-10">
                        <h2 class="text-2xl font-bold">Perfil</h2>
                    </div>

                    <form
                        method="POST"
                        action="/ecommerce/home/"
                        class="flex flex-col items-center gap-10">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-4">
                            <div class="flex flex-col">
                                <label for="">Nome</label>
                                {{ form.first_name }}
                            </div>
                            <div class="flex flex-col">
                                <label for="">Sobrenome</label>
                                {{ form.last_name }}
                            </div>
                            <div class="flex flex-col col-span-2">
                                <label for="">Email</label>
                                <input type="email" disabled value="{{user.email}}" class="p-2 border rounded-lg focus-within:border-[#A7C957] focus:outline-none hover:cursor-not-allowed">
                                <div class="hidden">
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="flex flex-col col-span-2 hidden">
                                <label for="">Senha</label>
                                {{form.password}}
                            </div>
                            <div class="flex flex-col">
                                <label for="">Profile</label>
                                <select
                                    disabled
                                    class="p-2 border rounded-lg focus-within:border-[#A7C957] focus:outline-none cursor-not-allowed">
                                    <option selected value>
                                        {{user.role}}
                                    </option>
                                </select>
                                <div class="hidden">
                                    {{form.role}}
                                </div>
                            </div>
                        </div>

                        <button
                            name="edit_user"
                            type="submit"
                            class="p-2 font-semibold rounded-lg text-white bg-[#A7C957] hover:bg-[#386641]">
                            Confirmar
                        </button>
                    </form>
                </div>

                <!-- Modal Content-->
                <div
                    class="bg-white p-6 rounded-lg shadow-lg modal-content hidden"
                    id="added-user-content">
                    <div class="flex flex-row items-center justify-center mb-10">
                        <h2 class="text-2xl font-bold">Adicionar Usuário</h2>
                    </div>

                    <form
                        method="POST"
                        action="/ecommerce/home/"
                        class="flex flex-col items-center gap-10">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-4">
                            <div class="flex flex-col">
                                <label for="">Username</label>
                                <input
                                    required
                                    name="username"
                                    class="p-2 border rounded-lg focus-within:border-[#A7C957] focus:outline-none"
                                    type="text" />
                            </div>
                            <div class="flex flex-col col-span-2">
                                <label for="">Email</label>
                                <input  
                                    required
                                    name="email"
                                    class="p-2 border rounded-lg focus-within:border-[#A7C957] focus:outline-none"
                                    type="email" />
                            </div>
                            <div class="flex flex-col">
                                <label for="">Senha</label>
                                <input
                                    minlength="5"
                                    required
                                    name="password"
                                    type="password"
                                    class="p-2 border rounded-lg focus-within:border-[#A7C957] focus:outline-none" />
                            </div>
                            <div class="flex flex-col">
                                <label for="">Profile</label>
                                <select
                                    required
                                    title="Profile"
                                    name="role"
                                    class="p-2 border rounded-lg focus-within:border-[#A7C957] focus:outline-none">
                                    <option selected value>
                                        --Selecione--
                                    </option>
                                    <option value="Cliente">Cliente</option>
                                    <option value="Vendedor">Vendedor</option>
                                </select>
                            </div>
                        </div>

                        <button
                            name="added-user"
                            type="submit"
                            class="p-2 font-semibold rounded-lg text-white bg-[#A7C957] hover:bg-[#386641]">
                            Confirmar
                        </button>
                    </form>
                </div>

                <!-- Modal Content-->
                <div
                    class="bg-white p-6 rounded-lg shadow-lg modal-content hidden"
                    id="added-fruits-content">
                    <div class="flex flex-row items-center justify-center mb-10">
                        <h2 class="text-2xl font-bold">Adicionar Frutas</h2>
                    </div>

                    <form
                        method="POST"
                        action="/ecommerce/home/"
                        enctype="multipart/form-data"
                        class="flex flex-col items-center gap-10">
                        {% csrf_token %}
                        <div class="items-start justify-start grid grid-cols-2 gap-4">
                            <div class="flex flex-col">
                                <label for="">Nome da fruta</label>
                                {{ fruit_form.fruit_name }}
                            </div>
                            <div class="flex flex-col">
                                <label for="">Classificação</label>
                                {{ fruit_form.rating }}
                            </div>
                            <div class="flex flex-col">
                                <label for="">Quantidade</label>
                                {{ fruit_form.quantity }}
                            </div>
                            <div class="flex flex-col">
                                <label for="">Preço</label>
                                {{ fruit_form.itemssalevalue_sale }}
                            </div>
                            <div class="flex flex-col items-start justify-start">
                                <label for="">Fresca</label>
                                {{ fruit_form.fresh }}
                            </div>
                            <div class="flex flex-col"> 
                                <label for="image">Imagem</label>
                                <input class="flex mb-10" type="file" id="image" name="image"><br><br>
                            </div>
                        </div>

                        <button
                            name="added-fruit"
                            type="submit"
                            class="p-2 font-semibold rounded-lg text-white bg-[#A7C957] hover:bg-[#386641]">
                            Confirmar
                        </button>
                    </form>
                </div>

                <div
                    class="bg-white p-6 rounded-lg shadow-lg modal-content hidden max-h-[600px] overflow-auto"
                    id="added-sale-content">
                    <div class="flex flex-row items-center justify-center mb-10">
                        <h2 class="text-2xl font-bold">Adicionar Vendas</h2>
                    </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-4 p-4 bg-white shadow rounded">
                                {{ sale_form.total_value.label_tag }}
                                {{ sale_form.total_value }}
                                {{ sale_form.date_time.label_tag }}
                                {{ sale_form.date_time }}
                            </div>
                            {{ sale_item_formset.management_form }}
                            <div id="sale-items">
                                {% for form in sale_item_formset %}
                                    <div class="mb-4 p-4 bg-white shadow rounded sale-item-form">
                                        {{ form.fruit.label_tag }}
                                        {{ form.fruit }}
                                        {{ form.quantity.label_tag }}
                                        {{ form.quantity }}
                                        {{ form.unitary_value.label_tag }}
                                        {{ form.unitary_value }}
                                        {{ form.discount.label_tag }}
                                        {{ form.discount }}
                                    </div>
                                {% endfor %}
                            </div>
                            
                            <button type="button" class="bg-blue-500 hover:bg-blue-900 text-white p-2 rounded" onclick="addSaleItem()">Add Item</button>
                            <button name="items-sale" type="submit" class="bg-[#6A994E] hover:bg-[#386641] text-white p-2 rounded">Confirmar</button>
                        </form>
                    
                        <script>
                            function addSaleItem() {
                                var formIdx = document.querySelectorAll('.sale-item-form').length;
                                var newForm = document.createElement('div');
                                newForm.classList.add('mb-4', 'p-4', 'bg-white', 'shadow', 'rounded', 'sale-item-form');
                                newForm.innerHTML = document.querySelectorAll('.sale-item-form')[0].innerHTML.replace(/__prefix__/g, formIdx);
                                document.querySelector('#sale-items').appendChild(newForm);
                                document.querySelectorAll('.sale-item-form')[formIdx].querySelectorAll('input, select').forEach(function(input) {
                                    input.name = input.name.replace(/-\d+-/g, `-${formIdx}-`);
                                    input.id = input.id.replace(/_\d+_/g, `_${formIdx}_`);
                                    input.value = '';
                                });
                            }
                        </script>
                </div>

                <div class="-translate-x-8 translate-y-2">
                    <button
                            id="close-modal"
                            class="rounded ">
                            <i class="bi bi-x-lg text-black text-xl hover:text-[#BC4749]"></i>
                    </button>
                </div>
            </div>
            
        </div>

        <!-- Modal -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div
                    id="modal-message"
                    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-5 gap-5">
                        <div
                            class="bg-white p-6 rounded-lg shadow-lg text-[#A7C957] flex flex-row gap-5 items-center justify-center">
                            {{message}}
                            <i class="bi bi-check-circle text-[#A7C957] text-2xl"></i>
                        </div>
                </div>
                {% elif message.tags == 'error' %}
                <div
                    id="modal-message"
                    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-5 gap-5">
                        <div
                            class="bg-white p-6 rounded-lg shadow-lg text-[#BC4749] flex flex-row gap-5 items-center justify-center">
                            {{message}}
                            <i class="bi bi-exclamation-triangle text-[#BC4749] text-2xl"></i>
                        </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <script>
            const menuBtn = document.getElementById("menu-btn");
            const closeBtn = document.getElementById("close-btn");
            const sidebar = document.getElementById("sidebar");
            const modal = document.getElementById("modal");
            const modalContents = document.querySelectorAll(".modal-content");
            const closeModalBtn = document.getElementById("close-modal");
            const openModalLinks = document.querySelectorAll(".open-modal");

            function toggleSidebar() {
                sidebar.classList.toggle("translate-x-full");
                menuBtn.classList.toggle("hidden");
                closeBtn.classList.toggle("hidden");
            }

            function closeSidebar() {
                if (!sidebar.classList.contains("translate-x-full")) {
                    sidebar.classList.add("translate-x-full");
                    menuBtn.classList.remove("hidden");
                    closeBtn.classList.add("hidden");
                }
            }

            function openModal(targetId) {
                modalContents.forEach((content) => {
                    content.classList.add("hidden");
                });
                const targetContent = document.getElementById(targetId);
                targetContent.classList.remove("hidden");
                modal.classList.remove("hidden");
            }

            function closeModal() {
                modal.classList.add("hidden");
            }

            menuBtn.addEventListener("click", (e) => {
                e.stopPropagation();
                toggleSidebar();
            });

            closeBtn.addEventListener("click", (e) => {
                e.stopPropagation();
                toggleSidebar();
            });

            document.addEventListener("click", (e) => {
                if (
                    !sidebar.contains(e.target) &&
                    !menuBtn.contains(e.target) &&
                    !closeBtn.contains(e.target)
                ) {
                    closeSidebar();
                }
            });

            openModalLinks.forEach((link) => {
                link.addEventListener("click", (e) => {
                    e.preventDefault();
                    const targetId = link.getAttribute("data-target");
                    closeSidebar();
                    openModal(targetId);
                });
            });

            closeModalBtn.addEventListener("click", closeModal);

            modal.addEventListener("click", (e) => {
                if (e.target === modal) {
                    closeModal();
                }
            });

            const modalMessage = document.getElementById('modal-message');

                if (modalMessage) {
                    // Ocultar o modal de sucesso após 1 segundos
                    setTimeout(() => {
                        modalMessage.classList.add('hidden');
                        window.location.href = window.location.origin + window.location.pathname;
                    }, 1000);
                }
            
            const modalEditUser = document.getElementById('edit-modal-user')
                
            document.getElementById('btn-edit-user').addEventListener("click", () => {
                modalEditUser.classList.remove("hidden");
            })
            
        </script>
    </body>
</html>
